 <div class="wide-card mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">{{this.currency}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
            USD ${{this.priceUSD}}
            BTC ${{this.priceBTC}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <br>
            </div>
         </div>
         <br>