body {
    height: 100%;
}

.mdl-layout__header{
    background-color: #e2ffe3;
}
.mdl-layout__drawer{
    background: #e2ffe3;
    background-color: #e2ffe3;
    color: #e2ffe3;
}

.mdl-layout__header-row,
.mdl-navigation__link,
.mdl-layout__drawer {
    color: #008000;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
     color: #008000; 
}

a, i{
    color: #008000;
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: #008000;
    line-height: 64px;
    padding: 0 24px;
}

.ticker, #placeholderprice {
    display: inline-block;
    padding-bottom: 3px;
    padding-left: 15px;
}




.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "top    top    top" "left   center right" "bottom bottom bottom";
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 100px auto 150px;
    grid-gap: 10px 10px;
}

.grid-top {
    grid-area: top;
    background: #ddeaff;
}

.grid-bottom {
    grid-area: bottom;
    background: #ddeaff;
}

.grid-left {
    grid-area: left;
    background: #ddeaff;
}

.grid-right {
    grid-area: right;
    background: #ddeaff;
}

.grid-center {
    grid-area: center;
}

h1 {
    text-align: center;
    color: #30D138;
    font-size: 38px;
}

/***************************************************************/
/***********************      GRAPH       **********************/
/***************************************************************/
.mdl-grid,
#graph, {
    width: 50%;
    /*overflow: auto;*/
    background: #ddeaff;
}

/*.chart-div {
    width: 400px;
    height: 500px;
}*/
/***************************************************************/
/***************************************************************/

#postForm{
    padding: 16px;
}
.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 5px;
    margin-left: 5px;
}

.mdl-button--fab.mdl-button--colored{
     background-color: #30D138;
}
