 {{#each tblpost}}

 <div id="postDiv" class="mdl-card__actions">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text" id="timestamp">{{this.date_created}}</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p id="newPost">{{this.general_post}}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Visit Profile</a>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
        </div>
    </div>
</div>

{{/each}}